<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Data Information </title>
</head>
<body>

    <h1> Welcome to the phishing dataset!</h1>
    <h2> By: Jadon Riggs </h2>
    <p> This data is a record of thousands of potential phishing links that were received by a research group.
        The links were then ran through a series of tests to judge credibility, and then they are given a risk level
        and finally a result of if they were in fact malicious or real. The values in each column is a result of comparing the said phising link to a pre made rule to determine risk. most of the fields are a 1 meaning risky, or a -1 meaning not risky. The Result field is
        a 1 if the link ended up being malcious, and a -1 if it was clean</p>

    <p>I am going ot be using this data and the results column to run analysis on what factors impact risk the most, and weigh all of the tests to see which ones are statistically
    significant and which ones are not. After analysis, I should have a set of assumptions on how phising links behave, and could potentially use this data to make a machine learning
    model.</p>

    <p>See 1000 rows of the database by using the URL '/item</p>
    <p>navigate to a specific record by using the URL '/item/id' </p>
    <a href = "/item">Go to Database</a>

</body>
</html>